<h1>Workout</h1>
<h4>Eddit Workout</h4><br>
<form>
Name: <input type="text" id = "name" value = {{name}}><br>
Reps:  <input type="number" id = "reps" min="0" value = {{reps}}><br>
Weight: <input type="number" id = "weight" min="0" step="5" value="30" weights = {{reps}}> </input>
<select>
  <option id = "kg" value="kg">kg</option>
  <option id = "lbs" value="lbs">lbs</option>
</select><br>
Date: <input type="date" id = "date"> </input><br>
<input type="submit" id= "editButton" value="edit">
</form>