<h1>Workout</h1>
<h4>Add Workout</h4><br>
<form>
Name: <input type="text" id = "name" name="name"><br>
Reps:  <input type="number" id = "reps" name="reps" min="0"><br>
Weight: <input type="number" id = "weight" name="weight" min="0" step="5" value="30"> </input>
<select>
  <option id = "kg" value="kg">kg</option>
  <option id = "lbs" value="lbs">lbs</option>
</select><br>
Date: <input type="date" id = "date"> </input><br>
<input type="submit" id= "addButton" value="Add"></input>
</form>
<h4>This are the excerises you have done</h4>
{{excerises}}